{
    "openapi": "3.0.1",
    "info": {
        "title": "Asset and Work Management API",
        "description": "REST API for Asset and Work Management",
        "version": "2024-07-03T15:46:33Z"
    },
    "servers": [
        {
            "url": "https://data.cdassetsandworkmanagement.prod.api.duke-energy.app/equipment"
        }
    ],
    "paths": {
        "/compatible-unit-bo": {
            "post": {
                "tags": [
                    "Equipment Compatible Unit Business Object - (Beta)"
                ],
                "description": "Returns CU Business Object and CU attributes information.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BuisnessObjectRequest"
                            },
                            "examples": {
                                "example1": {
                                    "summary": "Example 1",
                                    "description": "To retrieve business object dataset for a give CU name.",
                                    "value": {
                                        "key_filter": [
                                            {
                                                "column": "cu_nm",
                                                "operator": "EQ",
                                                "value": [
                                                    "LBKT-UP-STL-16FT-GALV-PUB-P"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example2": {
                                    "summary": "Example 2",
                                    "description": "To retrieve business object dataset for the give CU name, additionally retrieve columns listed in comparison_filter and apply filter listed in attribute_filter.",
                                    "value": {
                                        "key_filter": [
                                            {
                                                "column": "cu_nm",
                                                "operator": "EQ",
                                                "value": [
                                                    "LBKT-UP-STL-16FT-GALV-PUB-P"
                                                ]
                                            }
                                        ],
                                        "comparison_filter": [
                                            {
                                                "table": "equipment_compatible_unit",
                                                "select": [
                                                    "cu_nm",
                                                    "change_by_nm",
                                                    "status_desc",
                                                    "ver_num"
                                                ],
                                                "attribute_filter": [
                                                    {
                                                        "column": "change_by_nm",
                                                        "operator": "EQ",
                                                        "value": "275312"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example3": {
                                    "summary": "Example 3",
                                    "description": "To retrieve business object data for given CU, also retrieve data for the facet datasets listed in comparison_filter.",
                                    "value": {
                                        "key_filter": [
                                            {
                                                "column": "cu_nm",
                                                "operator": "EQ",
                                                "value": [
                                                    "SG-PAD-25KV-2SW/600-2F/200-3S-P"
                                                ]
                                            }
                                        ],
                                        "comparison_filter": [
                                            {
                                                "table": "equipment_compatible_unit_material"
                                            },
                                            {
                                                "table": "equipment_compatible_unit_spec"
                                            }
                                        ]
                                    }
                                },
                                "example4": {
                                    "summary": "Example 4",
                                    "description": "To retrieve business object data, also retrieve facet dataset data. Apply filter on facet dataset.",
                                    "value": {
                                        "key_filter": [
                                            {
                                                "column": "cu_nm",
                                                "operator": "EQ",
                                                "value": [
                                                    "SG-PAD-25KV-2SW/600-2F/200-3S-P"
                                                ]
                                            }
                                        ],
                                        "comparison_filter": [
                                            {
                                                "table": "equipment_compatible_unit_material"
                                            },
                                            {
                                                "table": "equipment_compatible_unit_detail",
                                                "attribute_filter": [
                                                    {
                                                        "column": "cu_dtl_key",
                                                        "operator": "EQ",
                                                        "value": "172749"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example5": {
                                    "summary": "Example 5",
                                    "description": "To retrieve business object data, also retrieve all the facet dataset data.",
                                    "value": {
                                        "key_filter": [
                                            {
                                                "column": "cu_nm",
                                                "operator": "EQ",
                                                "value": [
                                                    "SG-PAD-25KV-2SW/600-2F/200-3S-P"
                                                ]
                                            }
                                        ],
                                        "comparison_filter": [
                                            {
                                                "table": "equipment_compatible_unit_material"
                                            },
                                            {
                                                "table": "equipment_compatible_unit_detail"
                                            },
                                            {
                                                "table": "equipment_compatible_unit_service"
                                            },
                                            {
                                                "table": "equipment_compatible_unit_labor"
                                            },
                                            {
                                                "table": "equipment_compatible_unit_spec"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentCompatibleUnitBO"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
                "x-amazon-apigateway-integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "credentials": "arn:aws:iam::673646891467:role/apps/equipment-apigw-lambda-invocation-role-prod",
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:673646891467:function:equipment-cu-businessobject-api-prod/invocations"
                },
                "security": [
                    {
                        "cu-library-rest-api-token-check": []
                    }
                ]
            }
        },
        "/compatible-unit": {
            "post": {
                "tags": [
                    "Equipment Compatible Unit Datasets"
                ],
                "summary": "Retrieve equipment_compatible_unit dataset data",
                "description": "This endpoint retrieves data from equipment_compatible_unit dataset based on the request body of the post request.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "key_filter"
                                ],
                                "properties": {
                                    "select": {
                                        "description": "Optional parameter to list fields that need to be retrieved from dataset. If not specified then it returns all BO related fields which are listed in default property. If 'ALL' is specified then it retrieves all fields in the dataset",
                                        "default": [
                                            "cu_id",
                                            "cu_nm",
                                            "ver_num",
                                            "status_desc",
                                            "status_date",
                                            "history_ind",
                                            "uom_id",
                                            "standards_sheet_desc",
                                            "cu_lvl_num",
                                            "change_by_nm",
                                            "change_date",
                                            "cu_desc",
                                            "discipline_id",
                                            "line_of_business_id",
                                            "region_cd",
                                            "state_cd",
                                            "scada",
                                            "shape"
                                        ],
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "key_filter": {
                                        "description": "Required parameter to filter out data from the dataset based on key or gsi.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/SingleTableFilterItem"
                                        }
                                    },
                                    "attribute_filter": {
                                        "description": "Optional parameter to filter out data from the dataset based on non key or non gsi.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/SingleTableFilterItem"
                                        }
                                    },
                                    "next_token": {
                                        "description": "Optional parameter to pass next token and request the next set of responses",
                                        "type": "string"
                                    }
                                }
                            },
                            "examples": {
                                "example1": {
                                    "summary": "Example 1",
                                    "description": "In this example we are passing list of fields in the optional select property to return back in response. In the filter property we are passing the primary key (cu_nm) conditions to return data in response.",
                                    "value": {
                                        "select": [
                                            "cu_nm",
                                            "status_desc",
                                            "region_cd",
                                            "cu_desc",
                                            "change_by_nm"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "423290"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example2": {
                                    "summary": "Example 2",
                                    "description": "In this example we are skipping the optional select property to return only default columns in response. In the filter property we are passing the gsi columns (status_desc and cu_desc) conditions to return data in response.",
                                    "value": {
                                        "key_filter": [
                                            {
                                                "column": "status_desc",
                                                "operation": "EQ",
                                                "value": [
                                                    "ACTIVE"
                                                ]
                                            },
                                            {
                                                "column": "cu_desc",
                                                "operation": "EQ",
                                                "value": [
                                                    "REM ONLY-Fuse Cutout 100A 35kV porcelain for use with equipment"
                                                ]
                                            }
                                        ],
                                        "next_token": "{{optional next token}}"
                                    }
                                },
                                "example3": {
                                    "summary": "Example 3",
                                    "description": "In this example we are skipping the optional select property to return only default columns in response. In the key filter property we are passing the gsi columns (status_desc and cu_nm) and in attribute filter non gsi conditions to return data in response. We are also providing additional filter based on non key or gsi columns.",
                                    "value": {
                                        "key_filter": [
                                            {
                                                "column": "status_desc",
                                                "operation": "EQ",
                                                "value": [
                                                    "ACTIVE"
                                                ]
                                            },
                                            {
                                                "column": "cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "FUSE-CUTOUT-100-35KV-PORC-EQUIP-C"
                                                ]
                                            }
                                        ],
                                        "attribute_filter": [
                                            {
                                                "column": "change_by_nm",
                                                "operation": "NEQ",
                                                "value": [
                                                    "109178"
                                                ]
                                            }
                                        ],
                                        "next_token": "{{optional next token}}"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentCompatibleUnitResponse"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
                "x-amazon-apigateway-integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "credentials": "arn:aws:iam::673646891467:role/apps/equipment-apigw-lambda-invocation-role-prod",
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:673646891467:function:equipment-cu-tables-api-prod/invocations"
                },
                "security": [
                    {
                        "cu-library-rest-api-token-check": []
                    }
                ]
            }
        },
        "/compatible-unit-detail": {
            "post": {
                "tags": [
                    "Equipment Compatible Unit Datasets"
                ],
                "summary": "Retrieve equipment_compatible_unit_detail dataset data",
                "description": "This endpoint retrieves data from equipment_compatible_unit_detail dataset based on the request body of the post request.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "key_filter"
                                ],
                                "properties": {
                                    "select": {
                                        "description": "Optional parameter to list fields that need to be retrieved from dataset. If not specified then it returns all BO related fields which are listed in default property. If 'ALL' is specified then it retrieves all fields in the dataset",
                                        "default": [
                                            "cu_dtl_id",
                                            "cu_dtl_key",
                                            "parent_cu_nm",
                                            "parent_ver_num",
                                            "child_cu_nm",
                                            "child_ver_num",
                                            "qty_num",
                                            "change_by_nm",
                                            "change_date"
                                        ],
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "key_filter": {
                                        "description": "Required parameter to filter out data from the dataset based on keys and gsi.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/SingleTableFilterItem"
                                        }
                                    },
                                    "attribute_filter": {
                                        "description": "Optional parameter to filter out data from the dataset based on non keys and non gsi.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/SingleTableFilterItem"
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "example1": {
                                    "summary": "Example 1",
                                    "description": "In this example we are passing list of fields in the optional select property to return back in response. In the filter property we are passing the primary key and secondary key (child_cu_nm and cu_dtl_key) conditions to return data in response.",
                                    "value": {
                                        "select": [
                                            "child_cu_nm",
                                            "cu_dtl_key",
                                            "parent_cu_nm",
                                            "child_ver_num",
                                            "cu_nm"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "child_cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "423047"
                                                ]
                                            },
                                            {
                                                "column": "cu_dtl_key",
                                                "operation": "EQ",
                                                "value": [
                                                    "281241"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example2": {
                                    "summary": "Example 2",
                                    "description": "In this example we are passing ALL in the optional select property to return back all columns in this dataset including the default columns in response. In the filter property we are passing the gsi columns (parent_cu_nm and cu_dtl_key) conditions to return data in response.",
                                    "value": {
                                        "select": [
                                            "ALL"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "parent_cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "423291"
                                                ]
                                            },
                                            {
                                                "column": "cu_dtl_key",
                                                "operation": "EQ",
                                                "value": [
                                                    "281257"
                                                ]
                                            }
                                        ],
                                        "next_token": "{{optional next token}}"
                                    }
                                },
                                "example3": {
                                    "summary": "Example 3",
                                    "description": "In this example we are skipping the optional select property to return only default columns in response. In the key filter property we are passing the primary key and secondary key (child_cu_nm and cu_dtl_key) conditions to return data in response. We are also providing additional filter based on non key or gsi columns.",
                                    "value": {
                                        "key_filter": [
                                            {
                                                "column": "child_cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "17495"
                                                ]
                                            },
                                            {
                                                "column": "cu_dtl_key",
                                                "operation": "EQ",
                                                "value": [
                                                    "293263"
                                                ]
                                            }
                                        ],
                                        "attribute_filter": [
                                            {
                                                "column": "abs_qty_ind",
                                                "operation": "LT",
                                                "value": [
                                                    "0"
                                                ]
                                            }
                                        ],
                                        "next_token": "{{optional next token}}"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentCompatibleUnitDetailResponse"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
                "x-amazon-apigateway-integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "credentials": "arn:aws:iam::673646891467:role/apps/equipment-apigw-lambda-invocation-role-prod",
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:673646891467:function:equipment-cu-tables-api-prod/invocations"
                },
                "security": [
                    {
                        "cu-library-rest-api-token-check": []
                    }
                ]
            }
        },
        "/compatible-unit-labor": {
            "post": {
                "tags": [
                    "Equipment Compatible Unit Datasets"
                ],
                "summary": "Retrieve equipment_compatible_unit_labor dataset data",
                "description": "This endpoint retrieves data from equipment_compatible_unit_labor dataset based on the request body of the post request.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "key_filter"
                                ],
                                "properties": {
                                    "select": {
                                        "description": "Optional parameter to list fields that need to be retrieved from dataset. If not specified then it returns all BO related fields which are listed in default property. If 'ALL' is specified then it retrieves all fields in the dataset",
                                        "default": [
                                            "cu_nm",
                                            "cu_labor_id",
                                            "cu_labor_key",
                                            "install_hours",
                                            "remove_hours",
                                            "transfer_hours",
                                            "abandon_hours",
                                            "abs_hours_ind",
                                            "hourly_rate",
                                            "rate_changed_ind",
                                            "work_function",
                                            "site_id",
                                            "hot_cold_ind",
                                            "inaccessible_ind",
                                            "change_by_nm",
                                            "change_date",
                                            "crew_ty_id"
                                        ],
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "key_filter": {
                                        "description": "Required parameter to filter out data from the dataset based on keys and gsi.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/SingleTableFilterItem"
                                        }
                                    },
                                    "attribute_filter": {
                                        "description": "Optional parameter to filter out data from the dataset based on non keys and non gsi.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/SingleTableFilterItem"
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "example1": {
                                    "summary": "Example 1",
                                    "description": "In this example we are passing list of fields in the optional select property to return back in response. In the filter property we are passing the primary key and secondary key (cu_labor_key and cu_nm) conditions to return data in response.",
                                    "value": {
                                        "select": [
                                            "cu_labor_key",
                                            "cu_nm",
                                            "hourly_rate",
                                            "soil_ty_pct_ind"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "cu_labor_key",
                                                "operation": "EQ",
                                                "value": [
                                                    "43633"
                                                ]
                                            },
                                            {
                                                "column": "cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "GR-RETIRE-METER-INDUSTRIAL-P"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example2": {
                                    "summary": "Example 2",
                                    "description": "In this example we are passing ALL in the optional select property to return back all columns in this dataset including the default columns in response. In the key filter property we are passing the primary key and secondary key (cu_labor_key and cu_nm) conditions to return data in response. We are also providing additional filter based on non key or gsi columns.",
                                    "value": {
                                        "select": [
                                            "ALL"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "cu_labor_key",
                                                "operation": "EQ",
                                                "value": [
                                                    "1691980"
                                                ]
                                            },
                                            {
                                                "column": "cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "CABLE-TAIL-RISER-2-TX-600V-F"
                                                ]
                                            }
                                        ],
                                        "attribute_filter": [
                                            {
                                                "column": "inaccessible_pct_ind",
                                                "operation": "EQ",
                                                "value": [
                                                    "0"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example3": {
                                    "summary": "Example 3",
                                    "description": "In this example we are skipping the optional select property to return only default columns in response. In the key filter property we are passing the primary key and secondary key (cu_labor_key and cu_nm) conditions to return data in response. We are also providing additional filter based on non key or gsi columns.",
                                    "value": {
                                        "key_filter": [
                                            {
                                                "column": "cu_labor_key",
                                                "operation": "EQ",
                                                "value": [
                                                    "18845"
                                                ]
                                            },
                                            {
                                                "column": "cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "705381"
                                                ]
                                            }
                                        ],
                                        "attribute_filter": [
                                            {
                                                "column": "rate_changed_ind",
                                                "operation": "EQ",
                                                "value": [
                                                    "0"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentCompatibleUnitLaborResponse"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
                "x-amazon-apigateway-integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "credentials": "arn:aws:iam::673646891467:role/apps/equipment-apigw-lambda-invocation-role-prod",
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:673646891467:function:equipment-cu-tables-api-prod/invocations"
                },
                "security": [
                    {
                        "cu-library-rest-api-token-check": []
                    }
                ]
            }
        },
        "/compatible-unit-material": {
            "post": {
                "tags": [
                    "Equipment Compatible Unit Datasets"
                ],
                "summary": "Retrieve equipment_compatible_unit_material dataset data",
                "description": "This endpoint retrieves data from equipment_compatible_unit_material dataset based on the request body of the post request.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "key_filter"
                                ],
                                "properties": {
                                    "select": {
                                        "description": "Optional parameter to list fields that need to be retrieved from dataset. If not specified then it returns all BO related fields which are listed in default property. If 'ALL' is specified then it retrieves all fields in the dataset",
                                        "default": [
                                            "cu_nm",
                                            "cu_material_id",
                                            "cu_material_key",
                                            "item_id",
                                            "material_qty",
                                            "uom_id",
                                            "unit_cost_amt",
                                            "unit_cost_changed_ind",
                                            "direct_purchase_ind",
                                            "work_function",
                                            "site_id",
                                            "stores_loc_id",
                                            "change_by_nm",
                                            "change_date",
                                            "cu_material_desc",
                                            "override_site_id"
                                        ],
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "key_filter": {
                                        "description": "Required parameter to filter out data from the dataset based on keys and gsi.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/SingleTableFilterItem"
                                        }
                                    },
                                    "attribute_filter": {
                                        "description": "Optional parameter to filter out data from the dataset based on non keys and non gsi.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/SingleTableFilterItem"
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "example1": {
                                    "summary": "Example 1",
                                    "description": "In this example we are passing list of fields in the optional select property to return back in response. In the filter property we are passing the primary key and secondary key (cu_material_key and cu_nm) conditions to return data in response.",
                                    "value": {
                                        "select": [
                                            "cu_material_key",
                                            "cu_nm",
                                            "cu_material_desc",
                                            "contracted_ind"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "cu_material_key",
                                                "operation": "EQ",
                                                "value": [
                                                    "20969"
                                                ]
                                            },
                                            {
                                                "column": "cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "6681A"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example2": {
                                    "summary": "Example 2",
                                    "description": "In this example we are passing ALL in the optional select property to return back all columns in this dataset including the default columns in response. In the key filter property we are passing the primary key and secondary key (cu_material_key and cu_nm) conditions to return data in response. We are also providing additional filter based on non key or gsi columns.",
                                    "value": {
                                        "select": [
                                            "ALL"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "cu_material_key",
                                                "operation": "EQ",
                                                "value": [
                                                    "6829"
                                                ]
                                            },
                                            {
                                                "column": "cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "1FWL_40X"
                                                ]
                                            }
                                        ],
                                        "attribute_filter": [
                                            {
                                                "column": "direct_purchase_ind",
                                                "operation": "EQ",
                                                "value": [
                                                    "0"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example3": {
                                    "summary": "Example 3",
                                    "description": "In this example we are skipping the optional select property to return only default columns in response. In the key filter property we are passing the primary key and secondary key (cu_material_key and cu_nm) conditions to return data in response.",
                                    "value": {
                                        "key_filter": [
                                            {
                                                "column": "cu_material_key",
                                                "operation": "EQ",
                                                "value": [
                                                    "20970"
                                                ]
                                            },
                                            {
                                                "column": "cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "6681A"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentCompatibleUnitMaterialResponse"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
                "x-amazon-apigateway-integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "credentials": "arn:aws:iam::673646891467:role/apps/equipment-apigw-lambda-invocation-role-prod",
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:673646891467:function:equipment-cu-tables-api-prod/invocations"
                },
                "security": [
                    {
                        "cu-library-rest-api-token-check": []
                    }
                ]
            }
        },
        "/compatible-unit-service": {
            "post": {
                "tags": [
                    "Equipment Compatible Unit Datasets"
                ],
                "summary": "Retrieve equipment_compatible_unit_service dataset data",
                "description": "This endpoint retrieves data from equipment_compatible_unit_service dataset based on the request body of the post request.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "key_filter"
                                ],
                                "properties": {
                                    "select": {
                                        "description": "Optional parameter to list fields that need to be retrieved from dataset. If not specified then it returns all BO related fields which are listed in default property. If 'ALL' is specified then it retrieves all fields in the dataset",
                                        "default": [
                                            "cu_nm",
                                            "cu_service_id",
                                            "item_id",
                                            "item_set_id",
                                            "work_function",
                                            "service_qty",
                                            "unit_cost_amt",
                                            "unit_cost_changed_ind",
                                            "vendor_id",
                                            "order_unt_id",
                                            "hot_cold_ind",
                                            "inaccessible_ind",
                                            "change_by_nm",
                                            "change_date",
                                            "site_id",
                                            "ervice_desc"
                                        ],
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "key_filter": {
                                        "description": "Required parameter to filter out data from the dataset based on keys and gsi.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/SingleTableFilterItem"
                                        }
                                    },
                                    "attribute_filter": {
                                        "description": "Optional parameter to filter out data from the dataset based on non keys and non gsi.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/SingleTableFilterItem"
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "example1": {
                                    "summary": "Example 1",
                                    "description": "In this example we are passing list of fields in the optional select property to return back in response. In the filter property we are passing the primary key and secondary key (cu_service_id and cu_nm) conditions to return data in response.",
                                    "value": {
                                        "select": [
                                            "cu_nm",
                                            "cu_service_id",
                                            "ver_num",
                                            "change_by_nm"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "704727"
                                                ]
                                            },
                                            {
                                                "column": "cu_service_id",
                                                "operation": "EQ",
                                                "value": [
                                                    "12460"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example2": {
                                    "summary": "Example 2",
                                    "description": "In this example we are passing ALL in the optional select property to return back all columns in this dataset including the default columns in response. In the filter property we are passing the primary key and secondary key (cu_service_id and cu_nm) conditions to return data in response. We are also providing additional filter based on non key or gsi columns.",
                                    "value": {
                                        "select": [
                                            "ALL"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "704727"
                                                ]
                                            },
                                            {
                                                "column": "cu_service_id",
                                                "operation": "EQ",
                                                "value": [
                                                    "703643"
                                                ]
                                            }
                                        ],
                                        "attribute_filter": [
                                            {
                                                "column": "change_by_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "MXINTADM"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example3": {
                                    "summary": "Example 3",
                                    "description": "In this example we are skipping the optional select property to return only default columns in response. In the filter property we are passing the primary key and secondary key (cu_service_id and cu_nm) conditions to return data in response.",
                                    "value": {
                                        "key_filter": [
                                            {
                                                "column": "cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "704400"
                                                ]
                                            },
                                            {
                                                "column": "cu_service_id",
                                                "operation": "EQ",
                                                "value": [
                                                    "12119"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentCompatibleUnitServiceResponse"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
                "x-amazon-apigateway-integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "credentials": "arn:aws:iam::673646891467:role/apps/equipment-apigw-lambda-invocation-role-prod",
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:673646891467:function:equipment-cu-tables-api-prod/invocations"
                },
                "security": [
                    {
                        "cu-library-rest-api-token-check": []
                    }
                ]
            }
        },
        "/compatible-unit-spec": {
            "post": {
                "tags": [
                    "Equipment Compatible Unit Datasets"
                ],
                "summary": "Retrieve equipment_compatible_unit_spec dataset data",
                "description": "This endpoint retrieves data from equipment_compatible_unit_spec dataset based on the request body of the post request.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "key_filter"
                                ],
                                "properties": {
                                    "select": {
                                        "description": "Optional parameter to list fields that need to be retrieved from dataset. If not specified then it returns all BO related fields which are listed in default property. If 'ALL' is specified then it retrieves all fields in the dataset",
                                        "default": [
                                            "cu_nm",
                                            "cu_spec_id",
                                            "ver_num",
                                            "attr_id",
                                            "class_structure_num",
                                            "numeric_value",
                                            "alpha_value"
                                        ],
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "key_filter": {
                                        "description": "Required parameter to filter out data from the dataset based on keys and gsi.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/SingleTableFilterItem"
                                        }
                                    },
                                    "attribute_filter": {
                                        "description": "Optional parameter to filter out data from the dataset based on non keys and non gsi.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/SingleTableFilterItem"
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "example1": {
                                    "summary": "Example 1",
                                    "description": "In this example we are passing list of fields in the optional select property to return back in response. In the filter property we are passing the primary key and secondary key (cu_spec_id and cu_nm) conditions to return data in response.",
                                    "value": {
                                        "select": [
                                            "cu_nm",
                                            "cu_spec_id",
                                            "ver_num",
                                            "display_seq"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "GO-REGULATOR-C-M-.75X1IN-FPT-.1875IN-OR-8INWC-KY-M"
                                                ]
                                            },
                                            {
                                                "column": "cu_spec_id",
                                                "operation": "EQ",
                                                "value": [
                                                    "10174370"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example2": {
                                    "summary": "Example 2",
                                    "description": "In this example we are passing ALL in the optional select property to return back all columns in this dataset including the default columns in response. In the key filter property we are passing the primary key and secondary key (cu_spec_id and cu_nm) conditions to return data in response. We are also providing additional filter based on non key or gsi columns.",
                                    "value": {
                                        "select": [
                                            "ALL"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "GO-REGULATOR-C-M-.75X1IN-FPT-.1875IN-OR-8INWC-KY-M"
                                                ]
                                            },
                                            {
                                                "column": "cu_spec_id",
                                                "operation": "EQ",
                                                "value": [
                                                    "10174483"
                                                ]
                                            }
                                        ],
                                        "attribute_filter": [
                                            {
                                                "column": "ver_num",
                                                "operation": "EQ",
                                                "value": [
                                                    "1"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example3": {
                                    "summary": "Example 3",
                                    "description": "In this example we are skipping the optional select property to return only default columns in response. In the filter property we are passing the primary key and secondary key (cu_spec_id and cu_nm) conditions to return data in response.",
                                    "value": {
                                        "key_filter": [
                                            {
                                                "column": "cu_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "GO-REGULATOR-C-M-.75X1IN-FPT-.1875IN-OR-8INWC-KY-M"
                                                ]
                                            },
                                            {
                                                "column": "cu_spec_id",
                                                "operation": "EQ",
                                                "value": [
                                                    "1048384"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentCompatibleUnitSpecResponse"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
                "x-amazon-apigateway-integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "credentials": "arn:aws:iam::673646891467:role/apps/equipment-apigw-lambda-invocation-role-prod",
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:673646891467:function:equipment-cu-tables-api-prod/invocations"
                },
                "security": [
                    {
                        "cu-library-rest-api-token-check": []
                    }
                ]
            }
        },
        "/measure-unit": {
            "post": {
                "tags": [
                    "Equipment Reference Data Datasets"
                ],
                "summary": "Retrieve measure_unit dataset data",
                "description": "This endpoint retrieves data from measure_unit dataset based on the request body of the post request.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "key_filter"
                                ],
                                "properties": {
                                    "select": {
                                        "description": "Optional parameter to list fields that need to be retrieved from dataset. If not specified then it returns all BO related fields which are listed in default property. If 'ALL' is specified then it retrieves all fields in the dataset",
                                        "default": [
                                            "uom_id",
                                            "uom_abbr_name",
                                            "uom_desc"
                                        ],
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "key_filter": {
                                        "description": "Required parameter to filter out data from the dataset based on keys and gsi.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/SingleTableFilterItem"
                                        }
                                    },
                                    "attribute_filter": {
                                        "description": "Optional parameter to filter out data from the dataset based on non keys and non gsi.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/SingleTableFilterItem"
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "example1": {
                                    "summary": "Example 1",
                                    "description": "In this example we are passing list of fields in the optional select property to return back in response. In the filter property we are passing the primary key (uom_id) conditions to return data in response.",
                                    "value": {
                                        "select": [
                                            "uom_id",
                                            "uom_abbr_name",
                                            "content_uid"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "uom_id",
                                                "operation": "EQ",
                                                "value": [
                                                    "AC"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example2": {
                                    "summary": "Example 2",
                                    "description": "In this example we are passing ALL in the optional select property to return back all columns in this dataset including the default columns in response. In the key filter property we are passing the primary key (uom_id) conditions to return data in response. We are also providing additional filter based on non key or gsi columns.",
                                    "value": {
                                        "select": [
                                            "ALL"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "uom_id",
                                                "operation": "EQ",
                                                "value": [
                                                    "WK"
                                                ]
                                            }
                                        ],
                                        "attribute_filter": [
                                            {
                                                "column": "uom_abbr_name",
                                                "operation": "EQ",
                                                "value": [
                                                    "Week"
                                                ]
                                            },
                                            {
                                                "column": "content_uid",
                                                "operation": "EQ",
                                                "value": [
                                                    "BMXAA121"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example3": {
                                    "summary": "Example 3",
                                    "description": "In this example we are skipping the optional select property to return only default columns in response. In the filter property we are passing the primary key (uom_id) conditions to return data in response.",
                                    "value": {
                                        "key_filter": [
                                            {
                                                "column": "uom_id",
                                                "operation": "EQ",
                                                "value": [
                                                    "AC"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MeasureUnitResponse"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
                "x-amazon-apigateway-integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "credentials": "arn:aws:iam::673646891467:role/apps/equipment-apigw-lambda-invocation-role-prod",
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:673646891467:function:equipment-cu-tables-api-prod/invocations"
                },
                "security": [
                    {
                        "cu-library-rest-api-token-check": []
                    }
                ]
            }
        },
        "/site": {
            "post": {
                "tags": [
                    "Equipment Reference Data Datasets"
                ],
                "summary": "Retrieve site dataset data",
                "description": "This endpoint retrieves data from site dataset based on the request body of the post request.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "key_filter"
                                ],
                                "properties": {
                                    "select": {
                                        "description": "Optional parameter to list fields that need to be retrieved from dataset. If not specified then it returns all BO related fields which are listed in default property. If 'ALL' is specified then it retrieves all fields in the dataset",
                                        "default": [
                                            "site_id",
                                            "active_ind",
                                            "site_desc",
                                            "business_unit_group_nm"
                                        ],
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "key_filter": {
                                        "description": "Required parameter to filter out data from the dataset based on keys and gsi.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/SingleTableFilterItem"
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "example1": {
                                    "summary": "Example 1",
                                    "description": "In this example we are passing list of fields in the optional select property to return back in response. In the filter property we are passing the primary key (site_id) conditions to return data in response.",
                                    "value": {
                                        "select": [
                                            "site_id",
                                            "active_ind",
                                            "regulated_ind",
                                            "site_desc",
                                            "ap_bu"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "site_id",
                                                "operation": "EQ",
                                                "value": [
                                                    "RC-CLEMS"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example2": {
                                    "summary": "Example 2",
                                    "description": "In this example we are passing ALL in the optional select property to return back all columns in this dataset including the default columns in response. In the filter property we are passing the primary key (site_id) conditions to return data in response. We are also providing additional filter based on other columns.",
                                    "value": {
                                        "select": [
                                            "ALL"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "site_id",
                                                "operation": "EQ",
                                                "value": [
                                                    "RC-CLEMS"
                                                ]
                                            },
                                            {
                                                "column": "active_ind",
                                                "operation": "EQ",
                                                "value": [
                                                    "1"
                                                ]
                                            },
                                            {
                                                "column": "business_unit_group_nm",
                                                "operation": "EQ",
                                                "value": [
                                                    "GN"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example3": {
                                    "summary": "Example 3",
                                    "description": "In this example we are skipping the optional select property to return only default columns in response. In the filter property we are passing the primary key (site_id) conditions to return data in response.",
                                    "value": {
                                        "key_filter": [
                                            {
                                                "column": "site_id",
                                                "operation": "EQ",
                                                "value": [
                                                    "RC-CLEMS"
                                                ]
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentAssetAttributeResponse"
                                }
                            }
                        }
                    },
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "x-amazon-apigateway-request-validator": "Validate query string parameters and headers",
                "x-amazon-apigateway-integration": {
                    "type": "aws_proxy",
                    "httpMethod": "POST",
                    "credentials": "arn:aws:iam::673646891467:role/apps/equipment-apigw-lambda-invocation-role-prod",
                    "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:673646891467:function:equipment-cu-tables-api-prod/invocations"
                },
                "security": [
                    {
                        "cu-library-rest-api-token-check": []
                    }
                ]
            }
        },
        "/long-description": {
            "post": {
                "tags": [
                    "Equipment Reference Data Datasets"
                ],
                "summary": "Retrieve long_description dataset data",
                "description": "This endpoint retrieves data from long_description dataset based on the request body of the post request.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "key_filter"
                                ],
                                "properties": {
                                    "select": {
                                        "description": "Optional parameter to list fields that need to be retrieved from dataset. If not specified then it returns all BO related fields which are listed in default property. If 'ALL' is specified then it retrieves all fields in the dataset",
                                        "default": [
                                            "trans_key",
                                            "trans_column",
                                            "trans_table",
                                            "info_txt"
                                        ],
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "key_filter": {
                                        "description": "Required parameter to filter out data from the dataset based on keys and gsi.",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/SingleTableFilterItem"
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "example1": {
                                    "summary": "Example 1",
                                    "description": "In this example we are passing list of fields in the optional select property to return back in response. In the filter property we are passing the primary key (trans_table) and sort key (trans_column and trans_key) conditions to return data in response.",
                                    "value": {
                                        "select": [
                                            "trans_key",
                                            "trans_column",
                                            "trans_table",
                                            "info_txt"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "trans_table",
                                                "operation": "EQ",
                                                "value": [
                                                    "SERVRECTRANS"
                                                ]
                                            },
                                            {
                                                "column": "trans_column",
                                                "operation": "EQ",
                                                "value": [
                                                    "DESCRIPTION"
                                                ]
                                            },
                                            {
                                                "column": "trans_key",
                                                "operation": "EQ",
                                                "value": [
                                                    "105795737"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example2": {
                                    "summary": "Example 2",
                                    "description": "In this example we are passing ALL in the optional select property to return back all columns in this dataset including the default columns in response. In the filter property we are passing the primary key (trans_table) and sort key (trans_column and trans_key) conditions to return data in response. We are also providing additional filter based on other columns.",
                                    "value": {
                                        "select": [
                                            "ALL"
                                        ],
                                        "key_filter": [
                                            {
                                                "column": "trans_table",
                                                "operation": "EQ",
                                                "value": [
                                                    "PLUSDCVALHEAD"
                                                ]
                                            },
                                            {
                                                "column": "trans_column",
                                                "operation": "EQ",
                                                "value": [
                                                    "DESCRIPTION"
                                                ]
                                            },
                                            {
                                                "column": "trans_key",
                                                "operation": "EQ",
                                                "value": [
                                                    "10009250"
                                                ]
                                            }
                                        ]
                                    }
                                },
                                "example3": {
                                    "summary": "Example 3",
                                    "description": "In this example we are skipping the optional select property to return only default columns in response. In the filter property we are passing the primary key (trans_table) and sort key (trans_column and trans_key) conditions to return data in response.",
                                    "value": {
                                        "key_filter": [
                                            {
                                                "column": "trans_table",
                                                "operation": "EQ",
                                                "value": [
                                                    "PLUSDCVALHEAD"
                                                ]
[...]
